<div class="container__big-card">
<div class="big-card__photo">
    <img src="https://wallpapers.com/images/hd/4k-marvel-digital-cartoon-t9z4pnuivn6488jq.jpg" 
    alt=""
    height="200px"
    width="300px">
</div>

<div class="big-card__title">
  <h1><a href="#">Sai a nova versao do Angular </a></h1>
</div>

<div class="big-card__description">
<p>
    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque architecto odit nulla soluta quia inventore beatae animi, sunt, iusto nemo placeat non! Repellendus quo mollitia incidunt neque autem laudantium inventore.</a></p>
</div>
</div>

 